.site-list {
  display: flex;
  flex-wrap: wrap;
}

.site-list--footer {
  justify-content: space-between;

  .site-list__item {
    &:not(:last-child) {
      margin-right: 0;
    }

    &:nth-child(3) {
      margin-right: 0;
    }
  }

  .site-list__link {
    color: #ffffff;
  }
}

.site-list__item {
  &:not(:last-child) {
    margin-right: 102px;
  }

  &:nth-child(3) {
    margin-right: 200px;
  }
}

.site-list__link {
  display: block;
  padding: 22px 0;
  color: #ae7c78;
}
